#accordion-panel-nicethemes_panel {
	margin-bottom: 15px;
}

#accordion-panel-nicethemes_panel > h3:before {
	content: "";
	float: left;
	display: block;
	width: 20px;
	height: 16px;
	background-image: url('../images/btn-nicethemes.png');
	margin: 2px 10px 0 0;
}

html[dir="rtl"] #accordion-panel-nicethemes_panel > h3:before {
	float: right;
	margin: 2px 0 0 10px;
}

.customize-control-typography .color {
	width: 100%;
}

.customize-control-typography .color h5 {
	width: 100%;
	margin: 10px 0 7px 0;
}

.customize-control-typography .color .wp-color-picker {
	padding: 4px 5px 3px;
	width: auto;
}

#customize-theme-controls .customize-control input[type="checkbox"] {
	margin-right: 0;
}

.customize-control .upload-button:first-child {
	width: 100%;
}

#customize-theme-controls .CodeMirror {
	height: auto;
	min-height: 120px;
}

.customize-control-radio-image input:checked + label img {
	border-color: #464646 !important;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
	        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
}

.customize-control-radio-image input + label img {
	border: 1px solid #ccc !important;
	padding: 5px;
	background: #fff;
}

.customize-control.hidden {
	visibility: hidden;
	height: 0;
	margin: 0;
}

.settings-group-toggle {
	color: #555;
	display: block;
	margin: 0 -13px 0;
	padding: 12px 30px 12px 14px;
	font-weight: 600;
	font-size: 1.1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	cursor: pointer;
	background-color: #fff;
}

html[dir="rtl"] .settings-group-toggle {
	padding: 12px 14px 12px 30px;
}

.settings-group-toggle:hover {
	color: #23282d;
	background-color: #f5f5f5;
}

.settings-group-toggle:after {
	color: #a0a5aa;
	font: 400 20px/1 dashicons;
	content: "\f343";
	position: absolute;
	right: 0;
}

html[dir="rtl"] .settings-group-toggle:after {
	right: auto;
	left: 0;
}

.settings-group-toggle.closed {
	margin-bottom: -12px;
}

.settings-group-toggle.closed:after {
	content: "\f347";
}

.settings-group-toggle:hover:after {
	color: #23282d;
}

html[dir="rtl"] .customize-control-switch .switch-on {
	left: auto;
	right: -25px;
}

html[dir="rtl"] .customize-control-switch .switch-off {
	left: auto;
	right: -55px;
}

html[dir="rtl"] .customize-control-radio-buttonset .buttonset {
	direction: ltr;
}

html[dir="rtl"] .selectize-control.single.rtl .selectize-input::after {
	left: 2px;
	border-left: none;
	border-right: 1px solid rgba(0, 0, 0, .06);
}

[data-value*="_color"]:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
}

html[dir="rtl"] [data-value*="_color"]:before {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
